.scroll
{
    position: fixed;
    bottom: 0;
    left: 0;
}



::selection {
  background: #F2FF1E; 
}
::-moz-selection {
  background: #F2FF1E;
}

html,
body
{   
    background-color: black;
    padding: 0;
    margin: 0;
    font-family: "Arial";
    font-weight: 300;
    font-size: 16px;
    color: #555;
}

h1 {
    color: white;
}

.header a {
   color: #222423;
   font-size: 7em;
   text-decoration: none;
}

.description h2 {
    background-color: #F2FF1E;
}
pre
{
    font-size: 14px;
    color: white;
    padding: 10px;
    background: #646464;
}

.header
{
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1000;
}


.horizon
{
    line-height: 0;
    z-index: 100;
    width: 3000px;
}

.middle
{
    z-index: 250;
    line-height: 0;
    width: 4500px;
}

.front
{
    z-index: 500;
    top: 150px;
    width: 6000px;
}

.intro
{
    position: absolute;
    left: 500px;
    top: 0px;
    padding-right: 50px;
}

.subintro {
    top: 3em;
    font-weight: bold;
    color: #F2FF1E;
}

.intro.subtext {
    top: 5em;
    width: 30em;

}

.page
{
    top: 0px;
    width: 500px;
    background: white;
    padding: 10px 30px;
    border: 1px #eee solid;
    position: absolute;
}

.description
{
    left: 1500px;
    width: 10%;
    height: 90%;
}

img.imgdesc {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 20em;
    height: auto;
}

.desc2
{
    left: 1500px;
}

.desc2
{
    left: 3000px;
}

.desc3
{
    left: 4500px;
}

.description h2 {
   animation: animationFrames linear 20s;
   animation-iteration-count: infinite;
   transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 20s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames linear 20s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 20s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 20s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes animationFrames{
  0% {
    background-color: rgba(242, 255, 30, 0);
  }
  50% {
    background-color: rgba(242, 255, 30, 1);
  }
  100% {
    background-color: rgba(242, 255, 30, 0);
  }
}

@-moz-keyframes animationFrames{
   0% {
    background-color: rgba(242, 255, 30, 0);
  }
  50% {
    background-color: rgba(242, 255, 30, 1);
  }
  100% {
    background-color: rgba(242, 255, 30, 0);
  }
}

@-webkit-keyframes animationFrames {
   0% {
    background-color: rgba(242, 255, 30, 0);
  }
  50% {
    background-color: rgba(242, 255, 30, 1);
  }
  100% {
    background-color: rgba(242, 255, 30, 0);
  }
}

@-o-keyframes animationFrames {
   0% {
    background-color: rgba(242, 255, 30, 0);
  }
  50% {
    background-color: rgba(242, 255, 30, 1);
  }
  100% {
    background-color: rgba(242, 255, 30, 0);
  }
}

@-ms-keyframes animationFrames {
  0% {
    background-color: rgba(242, 255, 30, 0);
  }
  50% {
    background-color: rgba(242, 255, 30, 1);
  }
  100% {
    background-color: rgba(242, 255, 30, 0);
  }
}

@media screen and (max-width: 600px) {
  .header a {
    font-size: 3em;
  }

  .intro
{
    left: 150px;
}

p.intro.subtext {
    width: 5%;
}
